<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description"
        content="Training and Placement Cell, College of Engineering and Technology, Bhubaneshwar." />
    <meta name="keywords"
        content="CET Bhubaneshwar Placement Website, CET B Placement Website, College of Engineering and Technology, Bhubaneshwar" />
    <meta name="owner" content="CET Bhubaneshwar" />
    <meta name="author" content="CET Bhubaneshwar" />
    <meta name="generator" content="cet.edu.in" />
    <meta name="msapplication-config" content="none" />

    <meta property="og:title" content="The Official Placement Website of CET, Bhubaneshwar" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://placement.cet.edu.in/team" />
    <meta property="og:image" content="http://placement.cet.edu.in/images/cet.png" />
    <meta property="og:site_name" content="CET Bhubaneshwar" />
    <meta property="og:description"
        content="Training and Placement Cell, College of Engineering and Technology, Bhubaneshwar." />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="shortcut icon" href="/images/cet.ico" type="image/x-icon" />
    
    <title>Admin Form</title>
</head>
<body>
    <div class="container">
        <form action="/form/<%= compa.slug %>/update/<%= compa._id %>" method="post" class="form-horizontal" role="form" style="margin: 2em 0;">

            <h2 style="text-align: center;">Company Form </h2><br>
            <div class="form-group">
                <label for="Name" class="col-sm-3 control-label">Name: </label>
                <div class="col-sm-12">
                    <input type="text" name="name" class="form-control" value="<%= compa.name %>" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="col-sm-3 control-label">Description:</label>
                <div class="col-sm-12">
                    <textarea name="desc" class="form-control" cols="30" rows="10" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Date" class="col-sm-3 control-label">Last Date for Form Submission: </label>
                <div class="col-sm-12">
                    <input type="date" class="form-control" name="date" value="<%= compa.date %>" required>
                </div>
            </div>

            <div class="form-group">
                <label for="URL" class="col-sm-3 control-label">Form URL:</label>
                <div class="col-sm-12">
                    <input type="text" name="slug" class="form-control" value="<%= compa.slug %>" required>
                </div>
            </div>
            <div class="form-group">
                <label for="Company Type" class="col-sm-3 control-label">Company Type:</label>
                <div class="col-sm-12">
                    <input type="text" name="type" class="form-control" value="<%= compa.type %>" required>
                </div>
            </div>
            <br><br>

            <h4 style="text-align: center;">Eligibility Criteria</h4><hr><br>
            <div class="form-group">
                <label for="Minimum 10th Percentage" class="col-sm-4 control-label">Minimum 10th Percentage</label>
                <div class="col-sm-12">
                    <input type="text" name="Eligibility.MinTenPerc" class="form-control" value="<%= compa.Eligibility.MinTenPerc %>">
                </div>
            </div>
            <div class="form-group">
                <label for="Minimum 12th Percentage" class="col-sm-4 control-label">Minimum 12th/Diploma Percentage</label>
                <div class="col-sm-12">
                    <input type="text" name="Eligibility.MinTwePerc" class="form-control" value="<%= compa.Eligibility.MinTwePerc %>">
                </div>
            </div>
            <div class="form-group">
                <label for="Minimum Active Backlogs" class="col-sm-4 control-label">Minimum Active Backlogs</label>
                <div class="col-sm-12">
                    <input type="text" name="Eligibility.MinBack" class="form-control" value="<%= compa.Eligibility.MinBack %>">
                </div>
            </div>
            <div class="form-group">
                <label for="Minimum B.Tech CGPA" class="col-sm-4 control-label">Minimum Bachelors CGPA</label>
                <div class="col-sm-12">
                    <input type="text" name="Eligibility.MinBCGPA" class="form-control" value="<%= compa.Eligibility.MinBCGPA %>">
                </div>
            </div>
            <div class="form-group">
                <label for="Minimum M.Tech CGPA" class="col-sm-4 control-label">Minimum Masters CGPA</label>
                <div class="col-sm-12">
                    <input type="text" name="Eligibility.MinMCGPA" class="form-control" value="<%= compa.Eligibility.MinMCGPA %>">
                </div>
            </div>
            <div class="form-group">
                <label for="Minimum YearGap Allowed" class="col-sm-3 control-label">Minimum YearGap Allowed</label>
                <div class="col-sm-12">
                    <input type="text" name="Eligibility.MinYearGap" class="form-control" value="<%= compa.Eligibility.MinYearGap %>">
                </div>
            </div>
            <br><br>

            <h4 style="text-align: center;">Eligibile Degrees</h4><hr>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered desk">
                        <thead>
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% if(compa.Eldegree.includes('B.Tech')) { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="B.Tech" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Bachelor in Technology</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="B.Tech">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Bachelor in Technology</span>
                                </td>
                                <% } %>
                                <% if(compa.Eldegree.includes('M.Tech')) { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="M.Tech" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Masters in Technology</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="M.Tech">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Masters in Technology</span>
                                </td>
                                <% } %>
                                <% if(compa.Eldegree.includes('M.Sc')) { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="M.Sc" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Masters in Science</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="M.Sc">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Masters in Science</span>
                                </td>
                                <% } %>
                                <% if(compa.Eldegree.includes('MCA')) { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="MCA" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">MCA</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Eldegree" class="form-check-input col-sm-1 col-2" value="MCA">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">MCA</span>
                                </td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h4 style="text-align: center;">Eligibile Branches (Bachelors)</h4><hr>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered desk">
                        <thead>
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% if(compa.Bbranch.includes('BT')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="BT" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Biotechnology</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="BT">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Biotechnology</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('Civil')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="Civil" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Civil</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="Civil">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Civil</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('CSE')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="CSE" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Computer Science</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="CSE">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Computer Science</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('Electrical')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="Electrical" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Electrical</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="Electrical">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Electrical</span>
                                </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.Bbranch.includes('I&E')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="I&E" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Instrumentation & Electronics</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="I&E">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Instrumentation & Electronics</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('FT')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="FT" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Fashion & Apparel Technology</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="FT">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Fashion & Apparel Technology</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('IT')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="IT" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">IT</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="IT">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">IT</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('Mechanical')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="Mechanical" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Mechanical</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="Mechanical">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Mechanical</span>
                                </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.Bbranch.includes('TEXTILE')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="TEXTILE" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Textile</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="TEXTILE">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">Textile</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('MCA')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="MCA" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">MCA</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="MCA">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">MCA</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('B Arch')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="B Arch" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">B Arch</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="B Arch">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">B Arch</span>
                                </td>
                                <% } %>
                                <% if(compa.Bbranch.includes('B. Plan')) { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="B. Plan" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">B. Plan</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Bbranch" class="form-check-input col-sm-1 col-2" value="B. Plan">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">B. Plan</span>
                                </td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h4 style="text-align: center;">Eligibile Branches (Masters)</h4><hr>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered desk">
                        <thead>
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% if(compa.Mbranch.includes('BIOTECHNOLOGY')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="BIOTECHNOLOGY" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">BIOTECHNOLOGY</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="BIOTECHNOLOGY">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">BIOTECHNOLOGY</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('COMPUTER SCEINCE AND ENGINEERING')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="COMPUTER SCEINCE AND ENGINEERING" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">CSE</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="COMPUTER SCEINCE AND ENGINEERING">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">CSE</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('DESIGN & DYNAMICS')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="DESIGN & DYNAMICS" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">DESIGN & DYNAMICS</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="DESIGN & DYNAMICS">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">DESIGN & DYNAMICS</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('E&I')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="E&I" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">E&I</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="E&I">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">E&I</span>
                                </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.Mbranch.includes('ECE')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="ECE" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">ECE</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="ECE">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">ECE</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('EE-ENERGY SYSTEM ENGINEERING')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="EE-ENERGY SYSTEM ENGINEERING" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">ENERGY SYSTEM ENGINEERING</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="EE-ENERGY SYSTEM ENGINEERING">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">ENERGY SYSTEM ENGINEERING</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('EE-POWER ELECTRONICS AND DRIVES')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="EE-POWER ELECTRONICS AND DRIVES" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">POWER ELECTRONICS AND DRIVES</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="EE-POWER ELECTRONICS AND DRIVES">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">POWER ELECTRONICS AND DRIVES</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('EE-POWER SYSTEM ENGINEERING')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="EE-POWER SYSTEM ENGINEERING" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">POWER SYSTEM ENGINEERING</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="EE-POWER SYSTEM ENGINEERING">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">POWER SYSTEM ENGINEERING</span>
                                </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.Mbranch.includes('ELECTRICAL')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="ELECTRICAL" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">ELECTRICAL</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="ELECTRICAL">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">ELECTRICAL</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('INDUSTRIAL ENGINEERING AND MANAGEMENT')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="INDUSTRIAL ENGINEERING AND MANAGEMENT" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">INDUSTRIAL ENGINEERING AND MANAGEMENT</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="INDUSTRIAL ENGINEERING AND MANAGEMENT">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">INDUSTRIAL ENGINEERING AND MANAGEMENT</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('INFOFMATION TECHNOLOGY')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="INFOFMATION TECHNOLOGY" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">INFOFMATION TECHNOLOGY</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="INFOFMATION TECHNOLOGY">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">INFOFMATION TECHNOLOGY</span>
                                </td>
                                <% } %>
                                <% if(compa.Mbranch.includes('MECHANICAL')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="MECHANICAL" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">MECHANICAL</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="MECHANICAL">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">MECHANICAL</span>
                                </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.Mbranch.includes('MECHANICAL')) { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="THERMAL ENGINEERING" checked>
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">THERMAL ENGINEERING</span>
                                </td>
                                <% } else { %>
                                <td>
                                    <input type="checkbox" name="Mbranch" class="form-check-input col-sm-1 col-2" value="THERMAL ENGINEERING">
                                </td>
                                <td>
                                    <span class="col-sm-2 col-5">THERMAL ENGINEERING</span>
                                </td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br>

            <h4 style="text-align: center;">Mandatory Fields to Submit</h4><hr><br>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Tick Necessary </label>
                <div class="col-sm-12">
                    <table class="table table-bordered" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Select</th>
                                <th scope="col">Attribute</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% if(compa.requiredFields.includes('Name')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Name" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Name</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Name">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Name</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('Email')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Email" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Email</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Email">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Email</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('RegdNo')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="RegdNo" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Registration Number</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="RegdNo">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Registration Number</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('ContactNo')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="ContactNo" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Contact Number</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="ContactNo">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Contact Number</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('DOB')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="DOB" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Date of Birth</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="DOB">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Date of Birth</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('Gender')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Gender" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Gender</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Gender">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Gender</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('Branch')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Branch" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Branch</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Branch">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Branch</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('Category')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Category" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Category</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Category">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Category</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('Degree')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Degree" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Degree</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="Degree">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Degree</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('YOP')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="YOP" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Year of Passing</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="YOP">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Year of Passing</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('PhyCha')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="PhyCha" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Physically Challenged</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="PhyCha">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Physically Challenged</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('BCGPA')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="BCGPA" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Bachelors Degree CGPA</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="BCGPA">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Bachelors Degree CGPA</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('TenPercentage')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TenPercentage" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">10th Percentage</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TenPercentage">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">10th Percentage</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('TenBoard')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TenBoard" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">10th Board</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TenBoard">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">10th Board</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('YOPTen')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YOPTen" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">10th YOP</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YOPTen">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">10th YOP</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('MCGPA')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MCGPA" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Masters Degree CGPA</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MCGPA">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Masters Degree CGPA</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('TwelvePercentage')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TwelvePercentage" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th Percentage</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TwelvePercentage">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th Percentage</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('TwelveBoard')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TwelveBoard" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th Board</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="TwelveBoard">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th Board</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('YOPTwelve')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YOPTwelve" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th YOP</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YOPTwelve">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th YOP</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('TwelveMarksheet')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="TwelveMarksheet" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th Marksheet</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="TwelveMarksheet">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">12th Marksheet</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('DiplomaPercentage')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="DiplomaPercentage" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Diploma Percentage</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="DiplomaPercentage">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Diploma Percentage</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('DiplomaBoard')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="DiplomaBoard" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Diploma Board</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="DiplomaBoard">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Diploma Board</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('YOPDiploma')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YOPDiploma" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Diploma YOP</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YOPDiploma">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Diploma YOP</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('Honours')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Honours" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Completed Honours</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Honours">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Completed Honours</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('SGPA1')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA1" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA1</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA1">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA1</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('SGPA2')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA2" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA2</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA2">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA2</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('SGPA3')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA3" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA3</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA3">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA3</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('SGPA4')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA4" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA4</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA4">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA4</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('SGPA5')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA5" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA5</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA5">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA5</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('SGPA6')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA6" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA6</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-2" value="SGPA6">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA6</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('SGPA7')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA7" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA7</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA7">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA7</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('SGPA8')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA8" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA8</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="SGPA8">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">SGPA8</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('FatherName')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="FatherName" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Father's Name</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="FatherName">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Father's Name</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('FatherOccupation')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="FatherOccupation" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Father's Occupation</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="FatherOccupation">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Father's Occupation</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('FatherCN')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="FatherCN" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Father's Contact Number</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="FatherCN">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Father's Contact Number</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('YearGap')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YearGap" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Year Gap</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="YearGap">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Year Gap</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('MotherName')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MotherName" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Mother's Name</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MotherName">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Mother's Name</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('MotherOccupation')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MotherOccupation" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Mother's Occupation</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MotherOccupation">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Mother's Occupation</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('MotherCN')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MotherCN" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Mother's Contact Number</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="MotherCN">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Mother's Contact Number</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('Backlogs')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Backlogs" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Active Backlogs</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Backlogs">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Active Backlogs</span>
                                    </td>
                                <% } %>
                            </tr>
                            <tr>
                                <% if(compa.requiredFields.includes('PresentAddress')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="PresentAddress" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Present Address</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="PresentAddress">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Present Address</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('PermanentAddress')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="PermanentAddress" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Permanent Address</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="PermanentAddress">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Permanent Address</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('Aadhar')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Aadhar" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Aadhar Number</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="Aadhar">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">Aadhar Number</span>
                                    </td>
                                <% } %>
                                <% if(compa.requiredFields.includes('PAN')) { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="PAN" checked>
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">PAN Number</span>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <input type="checkbox" name="requiredFields" class="form-check-input col-sm-1 col-1" value="PAN">
                                    </td>
                                    <td>
                                        <span class="col-sm-2 col-5">PAN Number</span>
                                    </td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <center>
                <button class="btn btn-lg" onclick="window.location='/admin_portal?msg='" type="cancel">Cancel</button>
                <button style="margin-left: 2em;" type="submit" class="btn btn-lg btn-primary">Update</button>
            </center>
        </form>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
        <script>
            var simplemde = new SimpleMDE({ forceSync: true });
            var converter = new showdown.Converter()
            var md = converter.makeMarkdown(`<%- compa.desc %>`)
            simplemde.value(md)
        </script>
    </div>
</body>
</html>