<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="google-site-verification" content="TdfjYweV1jmmr0DLPgfMmn6TFXoeXZOknLJX-u1FkZg" />

  <meta name="description"
    content="The Official Placement Website for Odisha University of Technology and Research, Bhubaneshwar." />
  <meta name="keywords"
    content="CET Bhubaneshwar Placement Website,Odisha University of Technology and Research, OUTR Bhubaneshwar, CET B Placement Website, College of Engineering and Technology, Bhubaneshwar" />
  <meta name="owner" content="CET Bhubaneshwar" />
  <meta name="author" content="CET Bhubaneshwar" />
  <meta name="generator" content="cet.edu.in" />
  <meta name="msapplication-config" content="none" />

  <meta property="og:title"
    content="Training and Placement Cell, Odisha University of Technology and Research, Bhubaneshwar" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://placement.cet.edu.in/" />
  <meta property="og:image" content="http://placement.cet.edu.in/images/cet.png" />
  <meta property="og:site_name" content="CET Bhubaneshwar" />
  <meta property="og:description"
    content="Training and Placement Cell, Odisha University of Technology and Research, Bhubaneshwar" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
  <script src="https://d3js.org/d3.v4.js"></script>
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="shortcut icon" href="images/cet.ico" type="image/x-icon" />

  <title>Training and Placement Cell, Odisha University of Technology and Research, Bhubaneshwar</title>
</head>

<body>
  <%- include('../partials/navbar') %>

  <div class="main_sec" style="display: block; height: 90vh;">
    <%- include('slider') %>
  </div>
  <!-- <div class="main_sec sec-2">
    <%- include('homesec2') %>
  </div> -->
  <div class="sec-3">
    <%- include('homesec4') %>
  </div>

  <div class="main_sec sec-5">
    <%- include('homesec6') %>
  </div>

  <!-- <div class="main_sec sec-4">
    <%- include('homesec3') %>
  </div> -->

  <%- include('../partials/footer') %>

  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
</body>

</html>